@import "tailwindcss";

@font-face {
  font-family: evangelion-regular;
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/evangelion-regular.otf") format("opentype");
}
@font-face {
    font-family: EVA-Matisse_Classic;
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/EVA-Matisse_Classic.ttf") format("truetype");
}
@theme {
    --font-eva: "evangelion";
    --font-matisse: "EVA-Matisse_Standard";
    --color-background: #000000;
    --color-foreground: #ffffff;
    /*--color-foreground: #cdcdcd;*/
    /*--color-accent: oklch(0.5595 0.2862 322.88);*/
    --color-accent: oklch(0.6079 0.2666 26.55)
}


button {
  /*transition: border-color 2s;*/
  @apply cursor-pointer px-6 hover:text-accent py-3;
}

h1{
  @apply text-7xl sm:text-8xl md:text-9xl font-eva ;
}
a {
@apply  hover:text-accent text-foreground no-underline;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}
:root {
    scrollbar-color: #ffffff #000000;
    @apply flex-col justify-center items-center font-matisse bg-background text-foreground pt-6 ;
}
::selection {@apply text-accent bg-amber-300;}